$cos_bp: 1440px;
$xl-bp: 1024px;
$sm-bp: 500px;

:root {
  --black: #373737;
  --grey: #BDBDBD;
  --grey2: #F5F5F9;
  --border: #E0E0E0;
  --lgrey: #A7A6AF;
  --body: #F9F9FC;
  --purple: #6A53A3;
  --blue: #02AAB2;
  --lblue: #1ABBC2;
  --dblue: #043032;
  --white: #FFFFFF;
  --footer: #F0F0F4;
}



