$cos_bp: 1440px;
$xl-bp: 1024px;
$sm-bp: 500px;

:root {
  --black: #373737;
  --grey: #BDBDBD;
  --lgrey: #A7A6AF;
  --purple: #6A53A3;
  --blue: #02AAB2;
  --dblue: #043032;
  --white: #FFFFFF;
}



