.perform {
  padding-top: 9.7rem;
  padding-bottom: 8.6rem;
  margin-top: 12rem;
  @include breakpoint($xl-bp) {
    margin-top: 8rem;
    padding-top: 5rem;
    padding-bottom: 0;
    background-color: var(--body);
    position: relative;
    &::before {
      content: '';
      width: 100%;
      height: calc(100% - 4rem);
      background-color: var(--footer);
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}


.perform-list {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
  row-gap: 0;
  position: relative;
  @include breakpoint($xl-bp) {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 3rem;
  }
  &::before {
    content: '';
    width: 100%;
    height: 0.1rem;
    background-image: url("data:image/svg+xml,%3Csvg width='1400' height='1' viewBox='0 0 1400 1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='0.5' x2='1400' y2='0.5' stroke='%23C3C6C9' stroke-dasharray='8 8'/%3E%3C/svg%3E%0A");
    position: absolute;
    top: 0;
    left: 0;
    @include breakpoint($xl-bp) {
      height: calc(100% - 5rem);
      width: 0.1rem;
      background-image: url("data:image/svg+xml,%3Csvg width='1' height='1148' viewBox='0 0 1 1148' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0.5' y1='-2.18557e-08' x2='0.50005' y2='1148' stroke='%23C3C6C9' stroke-dasharray='8 8'/%3E%3C/svg%3E%0A");
      top: 1rem;
      left: 0.3rem;
    }
  }
  &.with-last-button {
    @include breakpoint($xl-bp) {
      &::before {
        height: calc(100% - 22rem);
      }
      li {
        &:last-child {
          &::after {
            content: unset;
          }
        }
        &:nth-last-child(2) {
          &::after {
            content: '';
            background-color: var(--footer);
            width: 1rem;
            height: 100%;
            position: absolute;
            top: 1.8rem;
            left: 0;
          }
        }
      }
    }
  }
  li {
    padding-top: 4rem;
    grid-column: 3 span;
    position: relative;
    @include breakpoint($xl-bp) {
      padding-top: 0;
      padding-left: 2rem;
    }
    &:last-child {
      &::after {
        @include breakpoint($xl-bp) {
          content: '';
          background-color: var(--footer);
          width: 1rem;
          height: calc(100% - 5.8rem);
          position: absolute;
          top: 1.8rem;
          left: 0;
        }
      }
    }
    &.perform-list-btn {
      &:last-child {
        padding-left: 0;
        &::before {
          content: unset;
        }
      }
    }
    &.line {
      grid-column: 1 / -1;
      width: 100%;
      height: 0.1rem;
      background-image: url("data:image/svg+xml,%3Csvg width='1400' height='1' viewBox='0 0 1400 1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='0.5' x2='1400' y2='0.5' stroke='%23C3C6C9' stroke-dasharray='8 8'/%3E%3C/svg%3E%0A");
      padding: 0;
      margin-top: 9rem;
      @include breakpoint($xl-bp) {
        display: none;
      }
      &::before {
        content: unset;
      }
    }
    &.col-span-4 {
      grid-column: 4 span;
    }
    
    &.col-span-5 {
      grid-column: 5 span;
    }
    &::before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='6' cy='6' r='6' transform='matrix(-4.37114e-08 -1 -1 4.37114e-08 12 12)' fill='%2302AAB2'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 1.2rem;
      height: 1.2rem;
      position: absolute;
      top: -0.6rem;
      left: 0;
      @include breakpoint($xl-bp) {
        width: 0.8rem;
        height: 0.8rem;
        top: 1rem;
      }
    }
  }
}
.perform-subtitle {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3rem;

  max-width: 45.1rem;
  @include breakpoint($xl-bp) {
    font-size: 2.2rem;
    line-height: 2.7rem;
  }
  
}
.perform-desc {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2rem;
  
  margin-top: 2rem;
  @include breakpoint($xl-bp) {
    font-size: 1.5rem;
    line-height: 1.9rem;
    margin-top: 1.5rem;
  }
}
.perform-button {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 4rem;
  gap: 2.7rem;
  padding: 3rem;
  padding-top: 2rem;
  @include breakpoint($xl-bp) {
    font-size: 2rem;
    line-height: 2.5rem;
    padding: 1rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    border-radius: 2rem;
  }
  .ball {
    width: 10rem;
    height: 10rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    border: 0.1rem solid var(--white);
    border-radius: 3rem;
    background-color: transparent;
    @include breakpoint($xl-bp) {
      width: 7.4rem;
      height: 7.4rem;
  
      border-radius: 2rem;
    }
    svg {
      width: 3rem;
      height: 3rem;
      fill: transparent;
      stroke: var(--white);
      @include breakpoint($xl-bp) {
        width: 4rem;
        height: 4rem;
      }
    }
  }
}

