.menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  transform: translate3d(0, -100%, 0);
  height: 100%;
  width: 100%;
  transition: transform 0.6s;
  will-change: transform;
  background-color: var(--dblue);
  padding-top: 10rem;
  max-height: 100%;
  overflow: auto;
  padding-left: 0;

  @include breakpoint($xl-bp) {
    display: block;
    height: 100vh;
    padding-top: 7rem;
  }
}

.menu--open {
  transform: translateX(0);
}

.menu-button {
  width: 6rem;
  height: 6rem;
  border-radius: 0.8rem;
  background-color: var(--blue);
  border: 0.1rem solid var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .3s, border-color .3s;
  &:hover {
    background-color: var(--lblue);
    border-color: var(--lblue);
  }
  @include breakpoint($xl-bp) {
    width: 4rem;
    height: 4rem;
  }
}

.menu-close {
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: 3rem;
  right: 3rem;
  @include breakpoint($xl-bp) {
    width: 3rem;
    height: 3rem;
    right: 1.1rem;
    top: 2rem;
  }
  svg {
    width: 100%;
    height: 100%;
    stroke: var(--white);
    transition: opacity .3s;

    &:hover {
      opacity: 0.4;
    }
  }
}

.menu-button-inner {
  width: 1.6rem;
  height: 0.6rem;
  position: relative;

  &::after,
  &::before {
    content: '';
    width: 100%;
    height: 0.15rem;
    background-color: var(--white);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.2rem;
    transition: all .3s;
  }

  &::after {
    top: 0.6rem;
  }
}


.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.menu-inner-container {
  padding-bottom: 6.6rem;
  @include breakpoint($xl-bp) {
    overflow: hidden;
  }
}

.menu-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.menu-nav {
  width: 100%;
  max-width: 69rem;

  &>ul {
    display: flex;
    flex-direction: column;
    & > li {
      padding-bottom: 2rem;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

.menu-item {
  font-size: 6rem;
  font-weight: 400;
  line-height: 7.4rem;
  padding-right: 7.4rem;
  position: relative;
  @include breakpoint($xl-bp) {
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 4rem;
    padding-right: 0;
    transition: transform .3s;
    will-change: transform;
  }
  a {
    color: var(--white);
    transition: opacity .3s;
    display: block;
    width: 100%;
  }

  .desctop-hidden {
    display: none;
    @include breakpoint($xl-bp) {
      display: block;
    }
  }

  &.not-active {
    & > a {
      opacity: 0.4;
    }
  }
  &.hover {
    @include breakpoint($xl-bp) {
      & ~ .menu-item {
        transform: translate3d(22.5rem, 0, 0);
      }
    }
    & > a {
      opacity: 1;
    }
    

    .menu-sublist {
      display: block;
    }
  }
}

.menu-sublist {
  display: none;
  width: 27.9rem;
  padding-top: 3.4rem;
  padding-left: 2rem;
  animation: fadeEffect .3s;
  will-change: opacity;
  position: absolute;
  top: 0;
  left: 100%;
  @include breakpoint($xl-bp) {
    left: 0;
    padding-left: 0;
    padding-top: 6rem;
    width: 20.9rem;
  }
  ul {
    display: flex;
    flex-direction: column;

    font-size: 2.4rem;
    font-weight: 400;
    line-height: 3.6rem;
    @include breakpoint($xl-bp) {
      font-size: 1.4rem;
      line-height: 3rem;
    }
    li {
      &.not-active {
        & > a {
          opacity: 0.4;
        }
      }
      &.hover {
        & > a {
          opacity: 1;
        }
    
        .menu-sublist {
          display: block;
          position: absolute;
          top: 0;
          left: 100%;
        }
      }
    }
    a {
      color: var(--white);
      will-change: opacity;
    }
  }
}

.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 44.7rem;
  z-index: -1;
  width: 100%;
  @include breakpoint($xl-bp) {
    display: none;
  }
}

.marquee-container {
  display: flex;
  gap: 10rem;
}
.marquee-list {
  display: flex;
  gap: 10rem;
  will-change: transform;
}

.marquee span {
  display: inline-block;
  // padding-left: 100%;
  // animation: marquee 6000ms linear infinite;
  // animation-delay: 0ms;

  font-size: 18rem;
  font-weight: 500;
  line-height: 22.3rem;

  color: #073739;

  will-change: transform;
}

.marquee2 span {
  animation-delay: 3000ms;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

.menu-bot-wrapper {
  padding-left: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  @include breakpoint($xl-bp) {
    flex-direction: column;
    padding-left: 2rem;
  }
  @include breakpoint($sm-bp) {
    padding-left: 1.1rem;
  }
}

.menu-bot {
  display: grid;
  grid-template-columns: 45.3rem max-content;
  gap: 2rem;
  row-gap: 4rem;
  justify-content: flex-end;
  padding-bottom: 5rem;

  position: relative;
  @include breakpoint($xl-bp) {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding-bottom: 3rem;
  }
  .menu-line {
    position: absolute;
    top: -20rem;
    right: 1rem;
    width: 32.6rem;
    height: 26.1rem;
    @include breakpoint($xl-bp) {
      display: none;
    }
    svg {
      width: 100%;
      height: 100%;
      fill: transparent;
    }
  }
}

.menu-logo {
  width: 15.1rem;
  height: 5.9rem;
  display: block;

  grid-column: 2 span;
  @include breakpoint($xl-bp) {
    grid-column: 1 span;
    width: 11.2rem;
    height: 4.4rem;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.menu-location {
  color: var(--white);
  @include breakpoint($xl-bp) {
    display: none;
  }

}

.menu-city {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3rem;

  color: var(--white);
}

.menu-address {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  margin-top: 1.5rem;
}

.menu-contacts {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  margin-top: 0.5rem;
  @include breakpoint($xl-bp) {
    font-size: 1.8rem;
    line-height: 2.2rem;
    gap: 1rem;
  }
  a {
    color: var(--blue);
  }
}

.menu-socials {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  margin-top: 2rem;

  @include breakpoint($xl-bp) {
    margin-top: 3rem;
  }

  a {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    border: 0.1rem solid var(--blue);

    @include breakpoint($xl-bp) {
      width: 5rem;
      height: 5rem;
      border-radius: 1rem;
    }

    svg {
      width: 2.33rem;
      height: 2.33rem;
      fill: var(--blue);
      transition: fill .3s;

      @include breakpoint($xl-bp) {
        width: 2.3rem;
        height: 2.3rem;
      }
    }
  }
}

.menu-get-quote {
  width: 45.3rem;

  font-size: 4rem;
  font-weight: 400;
  line-height: 5rem;
  gap: 2.7rem;
  border-radius: 0;
  border-top-right-radius: 2rem;

  margin-top: auto;

  padding: 2rem 3rem 3rem 4rem;
  @include breakpoint($xl-bp) {
    font-size: 1.8rem;
    line-height: 2.2rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    padding: 1rem;
    padding-left: 2rem;
    gap: 0.4rem;
  }
  @include breakpoint($sm-bp) {
    width: 100%;

  }
  .ball {
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 3rem;

    background-color: transparent;
    border: 0.1rem solid var(--white);
    @include breakpoint($xl-bp) {
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 100%;
      background-color: var(--white);
    }
    svg {
      width: 4rem;
      height: 4rem;
      stroke: var(--white);
      @include breakpoint($xl-bp) {
        stroke: var(--blue);
      }
    }
  }
}

