.rs-container * {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.rs-container {
  font-family: Arial, Helvetica, sans-serif;
  height: 2.4rem;
  position: relative;
  margin-left: auto;
  width: calc(100% - 1.6rem);

}

.rs-container .rs-bg,
.rs-container .rs-selected {
  background-color: var(--grey);
  height: 0.1rem;
  left: 0;
  position: absolute;
  top: 1.2rem;
  width: 100%;
}

.rs-container .rs-selected {
  background-color: var(--blue);
  transition: all .2s linear;
  height: 0.2rem;
  width: 0;
}

.rs-container.disabled .rs-selected {
  background-color: #ccc;
  border-color: #bbb
}

.rs-container .rs-pointer {
  background-color: var(--blue);
  border: 0.4rem solid var(--blue);
  border-radius: 100%;
  cursor: pointer;
  left: 0;
  position: absolute;
  top: calc(50% + 0.1rem);
  transition: all .2s linear;
  width: 1.5rem;
  height: 1.5rem;
  transform: translate3d(0, -50%, 0);
}

.rs-container.disabled .rs-pointer {
  border-color: #ccc;
  cursor: default
}

.rs-pointer[data-dir="right"] {
  transform: translateX(-8px);
}

.rs-container .rs-pointer::after {
  left: auto;
  right: 12px
}

.rs-container.sliding .rs-pointer,
.rs-container.sliding .rs-selected {
  transition: none
}

.rs-container .rs-scale {
  left: 0;
  position: absolute;
  top: 5px;
  white-space: nowrap
}

.rs-container .rs-scale span {
  float: left;
  position: relative
}

.rs-container .rs-scale span::before {
  background-color: transparent;
  content: "";
  height: 8px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 1px
}

.rs-container.rs-noscale span::before {
  display: none
}


.rs-container .rs-scale span ins {
  display: block;
  opacity: 0;
}

.rs-tooltip {
  position: relative;
  top: -3rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.range-wrapper {
  width: 35rem;
  max-width: 100%;
  height: min-content;
  margin-left: auto;
  align-self: flex-end;
  margin-bottom: 0.6rem;
  @include breakpoint($xl-bp) {
    margin-top: 2.4rem;
    padding-right: 2rem;
    margin-bottom: 0;
  }
  @include breakpoint($sm-bp) {
    width: 28rem;
  }
}