<section class="ab">
  <div class="ab-head container">
    <h2 class="ab-title h2">Clients <span class="text-blue">about cooperation</span> with ZeroMax</h2>

    <div class="ab-container">
      <button class="page-button ab-button --white" aria-label="post feedback">Post-Move Feedback<span
          class="ball"><svg>
            <use href='#arrowR'></use>
          </svg></span></button>
      <a href="#" class="page-button ab-button">All Reviews<span class="ball"><svg>
            <use href='#arrowR'></use>
          </svg></span></a>
    </div>
  </div>

  <div class="ab-swiper-wrapper">
    <div class="swiper ab-swiper container">
      <div class="swiper-wrapper">
        @for(let i = 0; i < 10; i++) { <div class="swiper-slide" data-name="Gabriella L." data-location="Miami, FL">
          <div class="ab-content">
            “ZeroMax was a great company to go with while moving during the coronavirus pandemic. They were gloves and
            masks throughout the entire move. The 3 movers wrapped each individual piece of furniture securely and
            ensured it would not be damaged. They even disassembled a few small pieces of furniture for us. They were
            very thorough and careful when loading and unloading the truck, and put every item in the correct rooms as
            instructed. I would recommend!”
          </div>
      </div>
      }
    </div>
  </div>
  <div class="ab-bot container">
    <div class="swiper-counter">1/10</div>
    <div class="swiper-navigation">
      <button class="arrow-button prev" aria-label="previous slide"><svg>
          <use href='#arrowPrev'></use>
        </svg></button>
      <button class="arrow-button next" aria-label="next slide"><svg>
          <use href='#arrowNext'></use>
        </svg></button>
    </div>
    <div class="swiper-data">
      <div class="ab-name">Gabriella L.</div>
      <div class="ab-location">Miami, FL</div>
    </div>
  </div>
  </div>
</section>