<section class="regModal container modal-overlay opacity-0" hidden id="buttons">
  <div class="modal-block --buttons">

    <button class="close-button close-button-style">
      <svg>
        <use href='#closeIcon'></use>
      </svg>
    </button>



    <button class="page-button --h-190">Add the list of items & get a quote<span
        class="ball"><svg>
          <use href='#arrowR'></use>
        </svg></span></button> 

    <button class="page-button --h-190 --white">Submit the reguest & let us get in touch<span
        class="ball"><svg>
          <use href='#arrowR'></use>
        </svg></span></button>


  </div>
</section>