<section class="regModal container modal-overlay opacity-0" hidden id="callback">
  <div class="modal-block">

    <button class="close-button close-button-style">
      <svg>
        <use href='#closeIcon'></use>
      </svg>
    </button>

    <h2 class="modal-title">Call back <br class="xl-hidden">me</h2>

    <div class="modal-form bg-white">
      <h3 class="modal-form-subtitle pb-10">Leave your phone number and we’ll call you back within 30 minutes</h3>
      <form action="#">
        <div class="input-wrapper --custom">
          <input type="tel" name="tel" class="input w-full" aria-label="street address" required>
          <div class="input-placeholder">Your phone</div>
          <button type="submit" class="modal-custom"><svg><use href='#arrowR'></use></svg></button>
        </div>

        <div class="modal-terms">By clicking the button, you agree to <a href="#">Terms of Use</a> and <a
            href="#">Privacy Policy</a></div>
      </form>
    </div>


  </div>
</section>