<ul class="faq-accord custom-hover">
  <li>
    <button class="faq-accord-btn accordion-button" aria-label="toggle accordion">How do I know if my movers are licensed and insured ?<span class="plus"></span></button>

    <div class="accordion-block">
      <div class="faq-accord-inner accordion-inner">
        <p>
          You can easily check if your movers are licensed and insured. This information should be available on
          the movers’ website https://zeromaxmoving.com/, advertising materials and trucks. Whenever you call a
          mover, you can ask them for their DOT and MC license numbers and then verify them with the Department
          of Transportation and the local authority. If they are licensed, by law they have to offer limited
          liability protection. Some movers offer additional coverage as well or can refer to agents they work
          with if you need full coverage for your belongings. For more information you can call us at
          (929)-295-6262.
        </p>
      </div>
    </div>
  </li>
  <li>
    <button class="faq-accord-btn accordion-button" aria-label="toggle accordion">Why should I choose ZeroMax Moving & Storage over so many moving companies in NYC?<span class="plus"></span></button>

    <div class="accordion-block">
      <div class="faq-accord-inner accordion-inner">
        <p>
          You can easily check if your movers are licensed and insured. This information should be available on
          the movers’ website https://zeromaxmoving.com/, advertising materials and trucks. Whenever you call a
          mover, you can ask them for their DOT and MC license numbers and then verify them with the Department
          of Transportation and the local authority. If they are licensed, by law they have to offer limited
          liability protection. Some movers offer additional coverage as well or can refer to agents they work
          with if you need full coverage for your belongings. For more information you can call us at
          (929)-295-6262.
        </p>
      </div>
    </div>
  </li>
</ul>