<section class="regModal container modal-overlay opacity-0" hidden id="feedback">
  <div class="modal-block --feedback">

    <button class="close-button close-button-style">
      <svg>
        <use href='#closeIcon'></use>
      </svg>
    </button>

    <h2 class="modal-title">Thanks for you guote reguest!</h2>

    <div class="modal-form bg-white">
      <h3 class="modal-form-subtitle">We”ll calculate the cost of you move and call you back within 2 hours.</h3>
      <button class="page-button modal-button close-button">Got it
        <span class="ball">
          <svg>
            <use href='#arrowR'></use>
          </svg>
        </span>
      </button>
    </div>


  </div>
</section>