<footer class="footer container">
  <div class="footer-head">
    <a href="#" class="footer-logo img-contain">
      <img src="./assets/images/logo/logo-footer.svg" alt="logo">
    </a>

    <ul class="footer-contacts custom-hover">
      <li><a href="tel:9292057758">(929) 205-77-58</a></li>
      <li><a href="mailto:sales@zeromaxmoving.com">sales@zeromaxmoving.com</a></li>
    </ul>

    <ul class="footer-socials custom-hover">
      <li>
        <a href="#">
          <svg><use href='#instagramIcon'></use></svg>
        </a>
      </li>
      <li>
        <a href="#">
          <svg><use href='#facebookIcon'></use></svg>
        </a>
      </li>
      <li>
        <a href="#">
          <svg><use href='#twitterIcon'></use></svg>
        </a>
      </li>
    </ul>

    <div class="footer-location-wrapper">
      <div class="footer-location"><svg><use href='#locIcon'></use></svg> New York Area</div>

      <div class="footer-location-info">
        <div>183 King Street, Brooklyn NY 11231, USA</div>
        <div>
          Mo - Fr: 7 am - 9 pm <br>
          Sa - Su: 7:30 am - 8:30 pm
        </div>
      </div>
    </div>
  </div>

  <nav class="footer-nav">
    <div class="footer-item">
      <h2 class="footer-nav-title">General</h2>
      <ul class="custom-hover">
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contacts</a></li>
        <li><a href="#">Moving Calculator</a></li>
      </ul>
    </div>

    <div class="footer-item">
      <h2 class="footer-nav-title">Media</h2>
      <ul class="custom-hover">
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Reviews</a></li>
        <li><a href="#">Press-center</a></li>
      </ul>
    </div>

    <div class="footer-item">
      <h2 class="footer-nav-title">License</h2>
      <ul class="custom-hover">
        <li><a href="#">License</a></li>
        <li><a href="#">Privacy Policies</a></li>
        <li><a href="#">Referral program</a></li>
        <li><a href="#">Terms & Conditions</a></li>
      </ul>
    </div>
  </nav>

  <div class="footer-bot">
    Copyright 2008-<span id="nowYear">2023</span> ©. All right <br class="xl-hidden">reserved.
  </div>
</footer>