<section class="regModal container modal-overlay opacity-0" hidden id="getQuote">
  <div class="modal-block">

    <button class="close-button close-button-style">
      <svg>
        <use href='#closeIcon'></use>
      </svg>
    </button>

    <h2 class="modal-title">Get a free moving <br class="xl-hidden">quote!</h2>

    <div class="modal-form bg-white">
      <h3 class="modal-form-subtitle">Fill the form for a price quote. We can beat any quote from a licensed mover by 5%-10%.</h3>
      <form action="#">
        <div class="route-wrapper">
          <div class="input-wrapper">
            <input type="text" name="from" class="input w-full" aria-label="street address" required>
            <div class="input-placeholder">Moving from <span class="text-lgrey">(Street address)</span></div>
          </div>
          <div class="input-wrapper">
            <input type="text" name="to" class="input w-full" aria-label="street address" required>
            <div class="input-placeholder">Moving to <span class="text-lgrey">(Street address)</span></div>
          </div>
        </div>
        <div class="input-wrapper">
          <input type="text" name="name" class="input w-full" aria-label="street address" required>
          <div class="input-placeholder">Your name</div>
        </div>
        <div class="input-wrapper">
          <input type="email" name="email" class="input w-full" aria-label="street address" required>
          <div class="input-placeholder">Your email</div>
        </div>
        <div class="input-wrapper">
          <input type="tel" name="tel" class="input w-full" aria-label="street address" required>
          <div class="input-placeholder">Your phone</div>
        </div>
        <div class="modal-wrapper">
          <div class="modal-terms">By clicking the button, you agree to <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a></div>
          <button type="submit" class="page-button modal-button" aria-label="submit">Submit
            <span class="ball">
              <svg>
                <use href='#arrowR'></use>
              </svg>
            </span>
          </button>
        </div>
      </form>
    </div>


  </div>
</section>