<li class="inventory-item">
  <div class="inventory-item-img img-contain">
    <img src="./assets/images/inventory/inventory-@num.svg" alt="inventory">
  </div>
  <div class="inventory-item-wrap">
    <div class="inventory-item-name">@name</div>
  </div>

  <div class="inventory-item-radio">
    <label class="custom-radio">
      <input type="radio" name="Double/fullsizebed" value="1" />
      <span class="radio"></span>
      1
    </label>

    <label class="custom-radio">
      <input type="radio" name="Double/fullsizebed" value="2" />
      <span class="radio"></span>
      2
    </label>
    
    <label class="custom-radio">
      <input type="radio" name="Double/fullsizebed" value="3" />
      <span class="radio"></span>
      3
    </label>

    <label class="custom-radio">
      <input type="radio" name="Double/fullsizebed" value="4" />
      <span class="radio"></span>
      4
    </label>

    <label class="custom-radio">
      <input type="radio" name="Double/fullsizebed" value="5+" />
      <span class="radio"></span>
      5+
    </label>
  </div>

</li>