<div class="menu container" id="menu">
  <button class="menu-close" id="menuClose"><svg><use href='#closeIcon'></use></svg></button>

  <div class="marquee">
    <span>ZeroMax Moving</span>
  </div>
  <div class="marquee marquee2 ">
    <span>ZeroMax Moving</span>
  </div>

  <div class="menu-inner">
    <nav class="menu-nav">
      <ul>
        <li class="menu-item"><a href="#">Services</a></li>
        <li class="menu-item"><a href="#">About</a></li>
        <li class="menu-item"><a href="#">Moving tips</a></li>
        <li class="menu-item"><a href="#">Press-center</a></li>
        <li class="menu-item"><a href="#">Contacts</a></li>
        <li class="menu-item"><a href="#">Referral program</a></li>
      </ul>
    </nav>
  </div>

  <div class="menu-bot">
    <a href="#" class="menu-logo">
      <img src="./assets/images/logo/logo-menu.svg" alt="logo">
    </a>

    <div class="menu-location">
      <div class="menu-city">New York Area</div>
      <ul class="menu-address">
        <li>183 King Street, Brooklyn NY 11231, USA</li>
        <li>
          Mo - Fr: 7 am - 9 pm <br>
          Sa - Su: 7:30 am - 8:30 pm
        </li>
      </ul>
    </div>

    <ul class="menu-contacts">
      <li><a href="tel:9292057758">(929) 205-77-58</a></li>
      <li><a href="mailto:sales@zeromaxmoving.com">sales@zeromaxmoving.com</a></li>
    </ul>

    <ul class="menu-socials">
      <li>
        <a href="#">
          <svg><use href='#instagramIcon'></use></svg>
        </a>
      </li>
      <li>
        <a href="#">
          <svg><use href='#facebookIcon'></use></svg>
        </a>
      </li>
      <li>
        <a href="#">
          <svg><use href='#twitterIcon'></use></svg>
        </a>
      </li>
    </ul>
  </div>
</div>