<section class="pr">
  <div class="pr-head container">
    <h2 class="pr-title h2">Press-center</h2>

    <a href="#" class="pr-button page-button --white">All posts <span class="ball"><svg>
          <use href='#arrowR'></use>
        </svg></span></a>
  </div>

  <div class="swiper pr-swiper container">
    <ul class="pr-list swiper-wrapper">
      <li class="pr-item swiper-slide">
        <a href="#">
          <h3 class="pr-subtitle">Moving estimate from our professional moving <span class="xl-hidden">company and
              factors</span> that affect moving cost</h3>

          <div class="pr-date">
            <div class="pr-day">
              07
            </div>
            <div class="pr-year">
              Apr <br>
              2023
            </div>
          </div>
        </a>
      </li>
      <li class="pr-item swiper-slide">
        <a href="#">
          <h3 class="pr-subtitle">Moving estimate from our professional moving</h3>

          <div class="pr-date">
            <div class="pr-day">
              31
            </div>
            <div class="pr-year">
              Apr <br>
              2023
            </div>
          </div>
        </a>
      </li>
      <li class="pr-item swiper-slide">
        <a href="#">
          <h3 class="pr-subtitle">Moving estimate from our professional moving that affect moving cost</h3>

          <div class="pr-date">
            <div class="pr-day">
              26
            </div>
            <div class="pr-year">
              Apr <br>
              2023
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <div class="container xl-block">
    <a href="#" class="pr-button-mobile">All posts <span class="ball"><svg>
          <use href='#arrowR'></use>
        </svg></span></a>
  </div>

  <div class="pr-bot container">
    <h3 class="pr-btitle"><span class="text-blue">Subscribe</span> to don't miss our news and events</h3>

    <form action="#">
      <div class="input-wrapper">
        <input type="text" name="from" class="input w-full" aria-label="street address" required>
        <div class="input-placeholder">Your Email</div>
      </div>
      <button type="submit" class="page-button pr-submit" aria-label="Subscribe">Subscribe <span class="ball"><svg>
            <use href='#arrowR'></use>
          </svg></span></button>
    </form>
  </div>
</section>