<li>
  <button class="serv-button accordion-button" aria-label="toggle accordion">@title<span class="plus"></span></button>

  <div class="accordion-block">
    <div class="serv-inner accordion-inner">
      <p>
        Zeromax Moving will provide you with a high degree of professionalism from start to endpoint. Our skilled movers NYC live here, so they are well-versed in the city's complexities. With New York's congested streets and traffic, this information is critical to keeping your move on schedule. You can be confident that Zeromax movers NYC will arrive on time, no matter where you are relocating. We provide our clients with accurate local relocation online estimates at competitive hourly rates based on our years of company expertise.
      </p>

      <div class="serv-bot">
        <div class="serv-img img-cover">
          <picture>
            <source srcset="./assets/images/main/serv/1-sm.jpg" media="(max-width:500px)">
            <img src="./assets/images/main/serv/1.jpg" alt="serv">
          </picture>
        </div>

        <a href="#" class="serv-link page-button">Learn <br> more <span class="ball"><svg><use href='#arrowR'></use></svg></span></a>
      </div>
    </div>
  </div>
</li>
