<section class="services-item">

  <div class="services-left">
    <h2 class="services-title">@title</h2>
    <div class="services-description">@desc</div>

    <a href="#" class="services-btn page-button">Learn <br> more <span class="ball"><svg>
          <use href='#arrowR'></use>
        </svg></span></a>
  </div>

  <div class="serv-bot">
    <div class="serv-img img-cover">
      <img src="@image" alt="serv">
    </div>

    <a href="#" class="serv-link page-button">Learn <br> more <span class="ball"><svg>
          <use href='#arrowR'></use>
        </svg></span></a>
  </div>

</section>