<div class="container short-form">
  <div class="main-form -mt-35">
    <div class="main-form-top">
      <h2 class="main-form-title">Get a free moving quote!</h2>
      <h3 class="main-form-subtitle">@title</h3>
    </div>
  
    <form action="#" class="bg-white">
      <div class="input-wrapper">
        <input type="text" name="from" class="input w-full" aria-label="street address" required>
        <div class="input-placeholder">Moving from <span class="text-lgrey">(Street address)</span></div>
      </div>
      <div class="input-wrapper">
        <input type="text" name="to" class="input w-full" aria-label="street address" required>
        <div class="input-placeholder">Moving to <span class="text-lgrey">(Street address)</span></div>
      </div>
      <button type="submit" class="page-button" aria-label="get a quote">Get a quote Now <span class="ball"><svg>
            <use href='#arrowR'></use>
          </svg></span></button>
    </form>
  </div>
</div>