
  <h2 class="we-title h2">
    <span class="text-blue">Professional moving services</span> made easy!

    <span class="we-icon">
      <svg>
        <use href='#weIcon'></use>
      </svg>
    </span>
  </h2>

  <div class="we-container">
    <div class="we-text">
      Our partners are companies that have proven themselves in providing eco-friendly packaging products.
    </div>

    <div class="we-buttons">
      <button class="page-button --h-190 --white" aria-label="post feedback">Call back Me<span class="ball"><svg>
            <use href='#arrowR'></use>
          </svg></span></button>
      <button class="page-button --h-190" aria-label="get a quote" data-modal="#getQuote">Get a quote Now<span class="ball"><svg>
            <use href='#arrowR'></use>
          </svg></span></button>
    </div>
  </div>