<section class="weWorking dark container">
  <h2 class="weWorking-title container">We are working in</h2>

  <div class="weWorking-map img-contain">
    <img src="./assets/images/weWorking/weWorking-map.svg" alt="map">

    <button class="weWorking-button-sm Bronx" aria-label="open balloon"></button>
    <div class="weWorking-button Bronx sm-left">
      <span class="ball"></span>

      <a href="#">
        <h3 class="weWorking-name">Bronx</h3>
        <svg class="icon">
          <use href='#weWorkingIcon'></use>
        </svg>
        <svg class="icon-sm">
          <use href='#weWorkingIconL-sm'></use>
        </svg>
      </a>
    </div>

    <button class="weWorking-button-sm Manhattan" aria-label="open balloon"></button> 
    <div class="weWorking-button Manhattan sm-left">
      <span class="ball"></span>

      <a href="#">
        <h3 class="weWorking-name">Manhattan</h3>
        <svg class="icon">
          <use href='#weWorkingIcon'></use>
        </svg>
        <svg class="icon-sm">
          <use href='#weWorkingIconL-sm'></use>
        </svg>
      </a>
    </div>

    <button class="weWorking-button-sm Queens" aria-label="open balloon"></button>
    <div class="weWorking-button Queens sm-left">
      <span class="ball"></span>
      <a href="#">
        <h3 class="weWorking-name">Queens</h3>
        <svg class="icon">
          <use href='#weWorkingIcon'></use>
        </svg>
        <svg class="icon-sm">
          <use href='#weWorkingIconL-sm'></use>
        </svg>
      </a>
    </div>

    <button class="weWorking-button-sm Brooklyn" aria-label="open balloon"></button>
    <div class="weWorking-button Brooklyn sm-left">
      <span class="ball"></span>
      <a href="#">
        <h3 class="weWorking-name">Brooklyn</h3>
        <svg class="icon">
          <use href='#weWorkingIcon'></use>
        </svg>
        <svg class="icon-sm">
          <use href='#weWorkingIconL-sm'></use>
        </svg>
      </a>
    </div>

    <button class="weWorking-button-sm StatenIsland" aria-label="open balloon"></button>
    <div class="weWorking-button StatenIsland sm-right">
      <span class="ball"></span>

      <a href="#">
        <h3 class="weWorking-name">Staten island</h3>
        <svg class="icon">
          <use href='#weWorkingIcon'></use>
        </svg>
        <svg class="icon-sm">
          <use href='#weWorkingIconR-sm'></use>
        </svg>
      </a>
    </div>



  </div>


</section>