<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
</head>

<body>
    {{> sprite }}

    <div class="page">
        
        <!-- Header -->

        {{> header }}

        <!-- Main content -->
        <main>

            {{> body }}

        </main>

        <!-- Footer -->
        {{> footer }}

    </div>

    <!-- Buttons -->
    {{> buttons}}
    
    <!-- Get quote -->
    {{> getQuote}}

    <!-- Callback -->
    {{> callback}}

    <!-- Feedback -->
    {{> feedback}}



    <!-- JS -->
    <script src="assets/js/vendor.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/temp.js"></script>
</body>

</html>